<!-- <img
src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
alt="user"
class="user-image"
/> -->

<div class="bg-gray-300 h-screen flex justify-center items-center">
  <div class="flex flex-col bg-white rounded-2xl box-shadow h-96 w-2/5">
    <div class="flex justify-center -m-12">
      <img
        src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
        alt="user"
        class="h-24 w-24"
      />
    </div>
    <form class="p-16">
      <div class="flex flex-col">
        <label for="email">Email : </label>
        <input
          type="text"
          name="email"
          class="border border-gray-500 rounded-lg w-2/3 ml-6 mt-2 p-1"
          placeholder="Email"
        />
      </div>
      <div class="flex flex-col">
        <label for="password">Password : </label>
        <input
          type="password"
          name="password"
          class="border border-gray-500 rounded-lg w-2/3 ml-6 mt-2 p-1"
          placeholder="********"
        />
        <div class="">
          <a>Forget Password ?</a>
        </div>
      </div>
      <div class="flex justify-center">
        <button type="submit" customClass="mt-8" customButton mode="light">
          <span> Login </span>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        <div class="auth-avatar">
         
        </div>
        <form>
          <div class="form-group">
            <label for="email">Email : </label>
            <input
              type="text"
              name="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password : </label>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="********"
            />
            <div class="text-right forget-pass">
              <a routerLink="/forget-password">Forget Password ?</a>
            </div>
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-my" value="Login" />
          </div>
        </form>
        <div class="text-center sign-up">
          Don`t have an account ? <a routerLink="/sign-up">Sign Up</a> hera.
        </div>
      </div>
    </div>
  </div>
</div> -->
