<header class="text-gray-400 bg-inherit body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-between"
  >
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <span class="ml-3 text-2xl font-bold text-black">SHOP.CO</span>
    </a>

    <nav
      class="ml-7 mr-7 flex flex-row flex-wrap items-center text-base justify-start flex-grow text-or"
    >
      <a
        class="mr-5 text-black hover:text-gray-900 hover:scale-110 hover:transition"
        [routerLink]="'/'"
        routerLinkActive="text-orange-700"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        class="mr-5 text-black hover:text-gray-900 hover:scale-110 hover:transition"
        routerLink="/products"
        routerLinkActive="text-orange-700"
        >Products</a
      >

      <!-- <form class="flex-grow" [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
         
          <input
            formControlName="searchInput"
            type="search"
            id="default-search"
            class="block w-full p-4 ps-10 leading-none h-12 text-gray-900 border border-gray-300 rounded-3xl bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search for products"
            required
          />
        </div>
      </form> -->

      <!-- <ng-select
        class="h-8 flex-grow leading-none text-gray-900 border border-gray-300 rounded-3xl bg-gray-50 focus:ring-blue-500 focus:border-blue-"
        [(ngModel)]="selectedCar"
      >
        @for (car of cars; track car.id) {
        <ng-option [value]="car.id">{{ car.name }}</ng-option>
        }
      </ng-select> -->

      <!--Using items input-->
      <!-- <ng-select
        class="h-8 flex-grow leading-none text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-"
        [items]="cars"
        placeholder="Search Products"
        bindLabel="name"
        bindValue="id"
        (search)="onTypingInSearch($event)"
        [(ngModel)]="selectedCar"
      >
      </ng-select> -->
      <ng-select
        class="h-8 flex-grow leading-none text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-"
        [items]="productSearchNames"
        placeholder="Search Products"
        (search)="onTypingInSearch($event)"
        [(ngModel)]="selectedProduct"
        (keydown.enter)="onEnter()"
      >
      </ng-select>
    </nav>

    <div class="flex justify-between items-center flex-row m-auto w-16">
      @if(isUserLoggedIn){
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth="{1.5}"
        stroke="currentColor"
        class="size-6 text-black font-bold hover:scale-125 transition"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
        />
      </svg>
      <svg
        (click)="onLogoutClick()"
        viewBox="0 0 1024 1024"
        xmlns="http://www.w3.org/2000/svg"
        class="size-6 text-black font-bold hover:scale-125 transition"
      >
        <path
          d="M868 732h-70.3c-4.8 0-9.3 2.1-12.3 5.8-7 8.5-14.5 16.7-22.4 24.5a353.84 353.84 0 0 1-112.7 75.9A352.8 352.8 0 0 1 512.4 866c-47.9 0-94.3-9.4-137.9-27.8a353.84 353.84 0 0 1-112.7-75.9 353.28 353.28 0 0 1-76-112.5C167.3 606.2 158 559.9 158 512s9.4-94.2 27.8-137.8c17.8-42.1 43.4-80 76-112.5s70.5-58.1 112.7-75.9c43.6-18.4 90-27.8 137.9-27.8 47.9 0 94.3 9.3 137.9 27.8 42.2 17.8 80.1 43.4 112.7 75.9 7.9 7.9 15.3 16.1 22.4 24.5 3 3.7 7.6 5.8 12.3 5.8H868c6.3 0 10.2-7 6.7-12.3C798 160.5 663.8 81.6 511.3 82 271.7 82.6 79.6 277.1 82 516.4 84.4 751.9 276.2 942 512.4 942c152.1 0 285.7-78.8 362.3-197.7 3.4-5.3-.4-12.3-6.7-12.3zm88.9-226.3L815 393.7c-5.3-4.2-13-.4-13 6.3v76H488c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h314v76c0 6.7 7.8 10.5 13 6.3l141.9-112a8 8 0 0 0 0-12.6z"
        />
      </svg>
      } @else {
      <svg
        (click)="onLoginClick()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 text-black font-bold hover:scale-125 transition"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>
      }
    </div>
  </div>
</header>
